<div class="container">
  <mat-form-field>
    <mat-label>Año</mat-label>
    <input
      matInput
      type="number"
      placeholder="Ingrese el año"
      [(ngModel)]="year"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="obtenerFestivos()">
    Consultar Festivos
  </button>
</div>

<div class="datatable-container">
  <ngx-datatable
    class="dark"
    [headerHeight]="50"
    [footerHeight]="50"
    [rows]="festivos"
    [rowHeight]="'auto'"
    [columns]="columns"
    [columnMode]="'force'"
    [limit]="10"
    [selectionType]="tipoSeleccion.single"
    (activate)="onActivate($event)"
  >
  </ngx-datatable>
</div>
